USE [master]
GO
/****** Object:  Database [BookStoreManagement]    Script Date: 08/11/2022 08:33:41 ******/
CREATE DATABASE [BookStoreManagement]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookStoreManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookStoreManagement]
GO
/****** Object:  Table [dbo].[authors]    Script Date: 08/11/2022 08:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[authors](
	[alias_name] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[year_of_birth] [int] NULL,
	[website] [varchar](200) NULL,
	[biography] [nvarchar](1500) NULL,
 CONSTRAINT [PK_authors] PRIMARY KEY CLUSTERED 
(
	[alias_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blogs]    Script Date: 08/11/2022 08:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blogs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](300) NULL,
	[content] [ntext] NULL,
	[posted_time] [datetime] NULL,
	[author] [varchar](11) NULL,
	[staff] [varchar](11) NULL,
	[status] [nvarchar](50) NULL,
	[ISBN] [varchar](13) NULL,
 CONSTRAINT [PK_blogs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book_authors]    Script Date: 08/11/2022 08:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_authors](
	[ISBN] [varchar](13) NOT NULL,
	[author_alias] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_book_authors] PRIMARY KEY CLUSTERED 
(
	[ISBN] ASC,
	[author_alias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book_genres]    Script Date: 08/11/2022 08:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_genres](
	[ISBN] [varchar](13) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_book_genres] PRIMARY KEY CLUSTERED 
(
	[ISBN] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book_import]    Script Date: 08/11/2022 08:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_import](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ISBN] [varchar](13) NULL,
	[publisher] [nvarchar](100) NULL,
	[import_date] [datetime] NULL,
	[quantity] [int] NULL,
	[original_price] [float] NULL,
 CONSTRAINT [PK_book_import] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[books]    Script Date: 08/11/2022 08:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[ISBN] [varchar](13) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[language] [nvarchar](50) NOT NULL,
	[description] [nvarchar](1500) NULL,
	[translator] [nvarchar](50) NOT NULL,
	[price] [float] NOT NULL,
	[weight] [float] NOT NULL,
	[size] [nvarchar](20) NOT NULL,
	[year_of_publish] [int] NOT NULL,
	[number_of_page] [int] NOT NULL,
	[book_layout] [nvarchar](30) NOT NULL,
	[publisher_name] [nvarchar](100) NOT NULL,
	[image_url] [nvarchar](200) NULL,
 CONSTRAINT [PK_books] PRIMARY KEY CLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comments]    Script Date: 08/11/2022 08:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ISBN] [varchar](13) NOT NULL,
	[username] [varchar](11) NOT NULL,
	[content] [nvarchar](2000) NULL,
	[status] [varchar](30) NOT NULL,
	[star] [float] NULL,
	[posted_time] [datetime] NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[genres]    Script Date: 08/11/2022 08:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genres](
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](1500) NULL,
 CONSTRAINT [PK_genres] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventory]    Script Date: 08/11/2022 08:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory](
	[ISBN] [varchar](13) NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_inventory] PRIMARY KEY CLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 08/11/2022 08:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[ISBN] [varchar](13) NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [float] NOT NULL,
 CONSTRAINT [PK_order_details] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 08/11/2022 08:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[receiver_name] [nvarchar](50) NOT NULL,
	[address] [nvarchar](300) NOT NULL,
	[phone] [varchar](11) NOT NULL,
	[order_time] [datetime] NOT NULL,
	[total] [float] NOT NULL,
	[username] [varchar](11) NOT NULL,
	[staff_username] [varchar](11) NULL,
	[status] [nvarchar](50) NOT NULL,
	[status_note] [nvarchar](1000) NULL,
	[payment] [varchar](50) NULL,
	[to_confirm_date] [datetime] NULL,
	[to_ship_date] [datetime] NULL,
	[to_receive_date] [datetime] NULL,
	[expected_date] [datetime] NULL,
	[delivery_company] [nvarchar](100) NULL,
	[completed_date] [datetime] NULL,
	[cancelled_date] [datetime] NULL,
	[return_refund_date] [datetime] NULL,
 CONSTRAINT [PK_orders] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prices]    Script Date: 08/11/2022 08:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prices](
	[ISBN] [varchar](13) NOT NULL,
	[price] [float] NOT NULL,
	[applicable_date] [datetime] NOT NULL,
	[status] [varchar](30) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_prices_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[publishers]    Script Date: 08/11/2022 08:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[publishers](
	[name] [nvarchar](100) NOT NULL,
	[address] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_publishers] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 08/11/2022 08:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_user_roles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 08/11/2022 08:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[username] [varchar](11) NOT NULL,
	[full_name] [nvarchar](50) NULL,
	[email] [nvarchar](320) NULL,
	[address] [nvarchar](250) NULL,
	[gender] [nvarchar](10) NULL,
	[password] [nvarchar](60) NOT NULL,
	[role_id] [int] NOT NULL,
	[avatar] [nvarchar](200) NULL,
	[date_of_birth] [date] NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[authors] ([alias_name], [name], [year_of_birth], [website], [biography]) VALUES (N'Akutami Gege', N'unknown', 1992, N'', N'Gege Akutami is a Japanese manga artist, known for their work Jujutsu Kaisen. Gege Akutami is a pen name and the author''s real name and gender are unknown.')
INSERT [dbo].[authors] ([alias_name], [name], [year_of_birth], [website], [biography]) VALUES (N'Eiichiro Oda', N'Eiichiro Oda', 1975, N'', N'Eiichiro Oda is a Japanese manga artist and the creator of the series One Piece. With more than 516.5 million tankōbon copies in circulation worldwide, One Piece is both the best-selling manga in history and the best-selling comic series printed in volume, in turn making Oda one of the best-selling fiction authors.')
INSERT [dbo].[authors] ([alias_name], [name], [year_of_birth], [website], [biography]) VALUES (N'Fujiko F.Fujio', N' Hiroshi Fujimoto', 1933, NULL, N'Fujiko Fujio was a manga writing duo formed by Japanese manga artists Hiroshi Fujimoto and Motoo Abiko. They formed their partnership in 1951, and used the Fujiko Fujio name from 1954 until dissolution of the partnership in 1987, upon Fujimoto''s illness.')
GO
SET IDENTITY_INSERT [dbo].[blogs] ON 

SET IDENTITY_INSERT [dbo].[blogs] OFF
GO
INSERT [dbo].[book_authors] ([ISBN], [author_alias]) VALUES (N'1421597713', N'Ohba Tsugumi')
INSERT [dbo].[book_authors] ([ISBN], [author_alias]) VALUES (N'142159test', N'Mai XuÃ¢n QuÃ¢n')
INSERT [dbo].[book_authors] ([ISBN], [author_alias]) VALUES (N'1427815577', N'Sakae Esuno')
GO
INSERT [dbo].[book_genres] ([ISBN], [name]) VALUES (N'1421597713', N'Fantasy Fiction')
INSERT [dbo].[book_genres] ([ISBN], [name]) VALUES (N'1421597713', N'Paranormal fiction')
INSERT [dbo].[book_genres] ([ISBN], [name]) VALUES (N'142159test', N'Action')
GO
SET IDENTITY_INSERT [dbo].[book_import] ON 

INSERT [dbo].[book_import] ([id], [ISBN], [publisher], [import_date], [quantity], [original_price]) VALUES (1, N'1427815577', N'Tokyopop', CAST(N'2021-11-01T20:56:31.000' AS DateTime), 1200, 670000)
INSERT [dbo].[book_import] ([id], [ISBN], [publisher], [import_date], [quantity], [original_price]) VALUES (2, N'4092270119', N'Shougakukan', CAST(N'2022-12-01T20:58:53.000' AS DateTime), 2300, 370000)
INSERT [dbo].[book_import] ([id], [ISBN], [publisher], [import_date], [quantity], [original_price]) VALUES (3, N'1421597713', N'VIZ Media LLC', CAST(N'2022-02-01T21:00:25.000' AS DateTime), 1000, 1000000)
SET IDENTITY_INSERT [dbo].[book_import] OFF
GO
INSERT [dbo].[books] ([ISBN], [name], [language], [description], [translator], [price], [weight], [size], [year_of_publish], [number_of_page], [book_layout], [publisher_name], [image_url]) VALUES (N'142159test', N'Test xem import ÄÆ°á»£c sÃ¡ch chÆ°a', N'English', N'QuÃ¢n ráº¥t Äáº¹p trai', N'Mai XuÃ¢n QuÃ¢n', 12, 12, N'10x10', 2022, 999, N'Paperback', N'Mai XuÃ¢n QuÃ¢n Äáº¹p trai', N'a5nzbvlpm0gfyniy6s7r.jpg')
GO
SET IDENTITY_INSERT [dbo].[comments] ON 

INSERT [dbo].[comments] ([id], [ISBN], [username], [content], [status], [star], [posted_time]) VALUES (1, N'1569319014', N'0899903369', N'truyện hay quá!', N'Active', 3.7, CAST(N'2022-09-22T00:00:00.000' AS DateTime))
INSERT [dbo].[comments] ([id], [ISBN], [username], [content], [status], [star], [posted_time]) VALUES (2, N'1569319014', N'0986425618', N'Em thích đọc sách, đọc truyện từ hồi còn học lớp 2, những cuốn sách, cuốn truyện của em chất cao trên giá sách theo năm tháng. Có những cuốn em đã tặng hoặc cho đi, nhưng có những cuốn sách em vẫn luôn muốn giữ lại, riêng cuốn này thì em muốn vứt vào thùng rác luôn cho rồi.', N'Active', 4.5, CAST(N'2022-09-25T00:00:00.000' AS DateTime))
INSERT [dbo].[comments] ([id], [ISBN], [username], [content], [status], [star], [posted_time]) VALUES (3, N'9123860448', N'0112345678', N'truyện dở quá.', N'Inactive', 1, CAST(N'2022-10-06T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[comments] OFF
GO
INSERT [dbo].[genres] ([name], [description]) VALUES (N'Action', N'Action is about conflict. Whether with guns, blades, fists, or mysterious powers, these manga feature characters in combat - either to protect themselves or the things or people they value, or simply as a way of life.')
INSERT [dbo].[genres] ([name], [description]) VALUES (N'Adventure', N'Adventure fiction is a type of fiction that usually presents danger, or gives the reader a sense of excitement. Some adventure fiction also satisfies the literary definition of romance fiction.')
INSERT [dbo].[genres] ([name], [description]) VALUES (N'Comedy', N'Comedy is a genre of fiction that consists of discourses or works intended to be humorous or amusing by inducing laughter, especially in theatre, film, stand-up comedy, television, radio, books, or any other entertainment medium.')
GO
INSERT [dbo].[inventory] ([ISBN], [quantity]) VALUES (N'1421597713', 10)
INSERT [dbo].[inventory] ([ISBN], [quantity]) VALUES (N'142159test', 111)
INSERT [dbo].[inventory] ([ISBN], [quantity]) VALUES (N'1427815577', 200)
GO
SET IDENTITY_INSERT [dbo].[order_details] ON 

INSERT [dbo].[order_details] ([id], [order_id], [ISBN], [quantity], [price]) VALUES (1, 1, N'1646512537', 1, 1400000)
INSERT [dbo].[order_details] ([id], [order_id], [ISBN], [quantity], [price]) VALUES (2, 1, N'1646513843', 1, 900000)
INSERT [dbo].[order_details] ([id], [order_id], [ISBN], [quantity], [price]) VALUES (3, 2, N'164273215X', 1, 250000)
SET IDENTITY_INSERT [dbo].[order_details] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([order_id], [receiver_name], [address], [phone], [order_time], [total], [username], [staff_username], [status], [status_note], [payment], [to_confirm_date], [to_ship_date], [to_receive_date], [expected_date], [delivery_company], [completed_date], [cancelled_date], [return_refund_date]) VALUES (1, N'Receiver1', N'45 Le Duan Street, District 1, Ho Chi Minh City', N'0899903369', CAST(N'2022-01-10T00:00:00.000' AS DateTime), 2300000, N'0899903369', NULL, N'Completed', NULL, N'COD', NULL, NULL, NULL, NULL, NULL, CAST(N'2021-12-12T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[orders] ([order_id], [receiver_name], [address], [phone], [order_time], [total], [username], [staff_username], [status], [status_note], [payment], [to_confirm_date], [to_ship_date], [to_receive_date], [expected_date], [delivery_company], [completed_date], [cancelled_date], [return_refund_date]) VALUES (2, N'customer1', N'45 Le Duan Street, District 1, Ho Chi Minh City', N'0894603369', CAST(N'2022-09-15T00:00:00.000' AS DateTime), 550000, N'0899903369', NULL, N'To Confirm', NULL, N'COD', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[orders] ([order_id], [receiver_name], [address], [phone], [order_time], [total], [username], [staff_username], [status], [status_note], [payment], [to_confirm_date], [to_ship_date], [to_receive_date], [expected_date], [delivery_company], [completed_date], [cancelled_date], [return_refund_date]) VALUES (3, N'customer2', N' Huynh Van Banh Street, Phu Nhuan District, Ho Chi Minh City', N'1233536890', CAST(N'2022-09-20T00:00:00.000' AS DateTime), 1800000, N'0112345678', NULL, N'Cancelled', N'Returns', N'COD', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[prices] ON 

INSERT [dbo].[prices] ([ISBN], [price], [applicable_date], [status], [id]) VALUES (N'1974732339', 300000, CAST(N'2022-09-15T00:00:00.000' AS DateTime), N'Inactive', 1)
INSERT [dbo].[prices] ([ISBN], [price], [applicable_date], [status], [id]) VALUES (N'1974732339', 250000, CAST(N'2022-09-25T00:00:00.000' AS DateTime), N'Active', 2)
INSERT [dbo].[prices] ([ISBN], [price], [applicable_date], [status], [id]) VALUES (N'164273215X', 300000, CAST(N'2022-08-01T00:00:00.000' AS DateTime), N'Active', 3)
SET IDENTITY_INSERT [dbo].[prices] OFF
GO
INSERT [dbo].[publishers] ([name], [address]) VALUES (N'Dark Horse Manga', N'....com')
INSERT [dbo].[publishers] ([name], [address]) VALUES (N'Egmont Manga', N'dgvdgd.com')
INSERT [dbo].[publishers] ([name], [address]) VALUES (N'Kodansha Comics', N'kodansha.us')
GO
SET IDENTITY_INSERT [dbo].[user_roles] ON 

INSERT [dbo].[user_roles] ([id], [role_name]) VALUES (1, N'admin')
INSERT [dbo].[user_roles] ([id], [role_name]) VALUES (2, N'sale staff')
INSERT [dbo].[user_roles] ([id], [role_name]) VALUES (3, N'inventory staff')
SET IDENTITY_INSERT [dbo].[user_roles] OFF
GO
INSERT [dbo].[users] ([username], [full_name], [email], [address], [gender], [password], [role_id], [avatar], [date_of_birth]) VALUES (N'0011223344', N'Nguyễn Hồng Hiệp', N'abc@gmail.com', N'Sao hoả', NULL, N'$2a$10$IqIbr8C4gL97jHwZmZ0AneSOXyjwRC7aKKkOGxzVQQp5C4PDUuNbC', 6, NULL, NULL)
INSERT [dbo].[users] ([username], [full_name], [email], [address], [gender], [password], [role_id], [avatar], [date_of_birth]) VALUES (N'0112345678', N'Nguyễn Thế Hùng', N'customer2@gmail.com', N'334 Huynh Van Banh Street, Phu Nhuan District, Ho Chi Minh City', N'male', N'$2a$10$nZCfh.svXV.TfJodwIAM3uHRs2dWjoM6sCWwNput8k0lV08oHnEuG', 4, NULL, CAST(N'2002-09-16' AS Date))
INSERT [dbo].[users] ([username], [full_name], [email], [address], [gender], [password], [role_id], [avatar], [date_of_birth]) VALUES (N'0123456742', N'mai xuan quan', N'quan@gamil', N'121dawdas', NULL, N'$2a$10$odTPCHKKUdq2f2diAH/AU.KBu2aRJrzYxVUQ3NG6qQXaXXWXamz2.', 4, NULL, CAST(N'2002-09-16' AS Date))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_email]    Script Date: 08/11/2022 08:33:42 ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UK_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[blogs]  WITH CHECK ADD  CONSTRAINT [FK_blogs_books] FOREIGN KEY([ISBN])
REFERENCES [dbo].[books] ([ISBN])
GO
ALTER TABLE [dbo].[blogs] CHECK CONSTRAINT [FK_blogs_books]
GO
ALTER TABLE [dbo].[blogs]  WITH CHECK ADD  CONSTRAINT [FK_blogs_users] FOREIGN KEY([author])
REFERENCES [dbo].[users] ([username])
GO
ALTER TABLE [dbo].[blogs] CHECK CONSTRAINT [FK_blogs_users]
GO
ALTER TABLE [dbo].[blogs]  WITH CHECK ADD  CONSTRAINT [FK_blogs_users1] FOREIGN KEY([staff])
REFERENCES [dbo].[users] ([username])
GO
ALTER TABLE [dbo].[blogs] CHECK CONSTRAINT [FK_blogs_users1]
GO
ALTER TABLE [dbo].[book_authors]  WITH CHECK ADD  CONSTRAINT [FK_book_authors_authors] FOREIGN KEY([author_alias])
REFERENCES [dbo].[authors] ([alias_name])
GO
ALTER TABLE [dbo].[book_authors] CHECK CONSTRAINT [FK_book_authors_authors]
GO
ALTER TABLE [dbo].[book_authors]  WITH CHECK ADD  CONSTRAINT [FK_book_authors_books] FOREIGN KEY([ISBN])
REFERENCES [dbo].[books] ([ISBN])
GO
ALTER TABLE [dbo].[book_authors] CHECK CONSTRAINT [FK_book_authors_books]
GO
ALTER TABLE [dbo].[book_genres]  WITH CHECK ADD  CONSTRAINT [FK_book_genres_books] FOREIGN KEY([ISBN])
REFERENCES [dbo].[books] ([ISBN])
GO
ALTER TABLE [dbo].[book_genres] CHECK CONSTRAINT [FK_book_genres_books]
GO
ALTER TABLE [dbo].[book_genres]  WITH CHECK ADD  CONSTRAINT [FK_book_genres_genres] FOREIGN KEY([name])
REFERENCES [dbo].[genres] ([name])
GO
ALTER TABLE [dbo].[book_genres] CHECK CONSTRAINT [FK_book_genres_genres]
GO
ALTER TABLE [dbo].[book_import]  WITH CHECK ADD  CONSTRAINT [FK_book_import_inventory] FOREIGN KEY([ISBN])
REFERENCES [dbo].[inventory] ([ISBN])
GO
ALTER TABLE [dbo].[book_import] CHECK CONSTRAINT [FK_book_import_inventory]
GO
ALTER TABLE [dbo].[book_import]  WITH CHECK ADD  CONSTRAINT [FK_book_import_publishers] FOREIGN KEY([publisher])
REFERENCES [dbo].[publishers] ([name])
GO
ALTER TABLE [dbo].[book_import] CHECK CONSTRAINT [FK_book_import_publishers]
GO
ALTER TABLE [dbo].[books]  WITH CHECK ADD  CONSTRAINT [FK_books_inventory] FOREIGN KEY([ISBN])
REFERENCES [dbo].[inventory] ([ISBN])
GO
ALTER TABLE [dbo].[books] CHECK CONSTRAINT [FK_books_inventory]
GO
ALTER TABLE [dbo].[books]  WITH CHECK ADD  CONSTRAINT [FK_books_publishers] FOREIGN KEY([publisher_name])
REFERENCES [dbo].[publishers] ([name])
GO
ALTER TABLE [dbo].[books] CHECK CONSTRAINT [FK_books_publishers]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_Comment_books] FOREIGN KEY([ISBN])
REFERENCES [dbo].[books] ([ISBN])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_Comment_books]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_Comment_users] FOREIGN KEY([username])
REFERENCES [dbo].[users] ([username])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_Comment_users]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK_order_details_books] FOREIGN KEY([ISBN])
REFERENCES [dbo].[books] ([ISBN])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK_order_details_books]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK_order_details_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK_order_details_orders]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_users] FOREIGN KEY([staff_username])
REFERENCES [dbo].[users] ([username])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_users]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_users1] FOREIGN KEY([staff_username])
REFERENCES [dbo].[users] ([username])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_users1]
GO
ALTER TABLE [dbo].[prices]  WITH CHECK ADD  CONSTRAINT [FK_prices_books] FOREIGN KEY([ISBN])
REFERENCES [dbo].[books] ([ISBN])
GO
ALTER TABLE [dbo].[prices] CHECK CONSTRAINT [FK_prices_books]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_user_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[user_roles] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_user_roles]
GO
USE [master]
GO
