<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>SITEMAPS_FILE_PATH</param-name>
        <param-value>/WEB-INF/siteMaps.properties</param-value>
    </context-param>
    <context-param>
        <param-name>ADMIN_ACCESS_CONTROL</param-name>
        <param-value>/WEB-INF/adminAccessControl.properties</param-value>
    </context-param>
    <!--    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4jQuanMX.properties</param-value>
    </context-param>-->
    <context-param>
        <param-name>ACCESS_CONTROLL</param-name>
        <param-value>/WEB-INF/accessControll.properties</param-value>
    </context-param>
    <filter>
        <filter-name>DispatchFilter</filter-name>
        <filter-class>com.swp391.group3.filter.DispatchFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AccessControllFilter</filter-name>
        <filter-class>com.swp391.group3.filter.AccessControllFilter</filter-class>
    </filter>
    <filter>
        <filter-name>EmployeeAccessControlFilter</filter-name>
        <filter-class>com.swp391.group3.filter.EmployeeAccessControlFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AccessControllFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>EmployeeAccessControlFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DispatchFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.swp391.group3.listener.AppContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>StartAppController</servlet-name>
        <servlet-class>com.swp391.group3.controller.StartAppController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBookController</servlet-name>
        <servlet-class>com.swp391.group3.controller.SearchBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>com.swp391.group3.controller.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.swp391.group3.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>com.swp391.group3.controller.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountInforController</servlet-name>
        <servlet-class>com.swp391.group3.controller.AccountInforController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountController</servlet-name>
        <servlet-class>com.swp391.group3.controller.UpdateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePasswordController</servlet-name>
        <servlet-class>com.swp391.group3.controller.UpdatePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBookDetailController</servlet-name>
        <servlet-class>com.swp391.group3.controller.ViewBookDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderHistory</servlet-name>
        <servlet-class>com.swp391.group3.controller.ViewOrderHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailOrderHistory</servlet-name>
        <servlet-class>com.swp391.group3.controller.ViewDetailOrderHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>com.swp391.group3.controller.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaypalCheckout</servlet-name>
        <servlet-class>com.swp391.group3.controller.PaypalCheckout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewPaypalPayment</servlet-name>
        <servlet-class>com.swp391.group3.controller.ReviewPaypalPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExecutePaypalCheckout</servlet-name>
        <servlet-class>com.swp391.group3.controller.ExecutePaypalCheckout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleLoginController</servlet-name>
        <servlet-class>com.swp391.group3.controller.GoogleLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyPhoneNumberController</servlet-name>
        <servlet-class>com.swp391.group3.controller.VerifyPhoneNumberController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCompletedOrderController</servlet-name>
        <servlet-class>com.swp391.group3.controller.ViewCompletedOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCancelledOrderController</servlet-name>
        <servlet-class>com.swp391.group3.controller.ViewCancelledOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReturnAndRefundController</servlet-name>
        <servlet-class>com.swp391.group3.controller.ViewReturnAndRefundController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCancelOrderPage</servlet-name>
        <servlet-class>com.swp391.group3.controller.ViewCancelOrderPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderByUserController</servlet-name>
        <servlet-class>com.swp391.group3.controller.CancelOrderByUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookController</servlet-name>
        <servlet-class>com.swp391.group3.controller.UpdateBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookController</servlet-name>
        <servlet-class>com.swp391.group3.controller.AddBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryBookController</servlet-name>
        <servlet-class>com.swp391.group3.controller.InventoryBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenderStatisticController</servlet-name>
        <servlet-class>com.swp391.group3.controller.GenderStatisticController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageStaffController</servlet-name>
        <servlet-class>com.swp391.group3.controller.ManageStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrdersOfStaffController</servlet-name>
        <servlet-class>com.swp391.group3.controller.ViewOrdersOfStaffController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartAppController</servlet-name>
        <url-pattern>/StartAppController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBookController</servlet-name>
        <url-pattern>/SearchBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/RegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/admin/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountInforController</servlet-name>
        <url-pattern>/AccountInforController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountController</servlet-name>
        <url-pattern>/UpdateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePasswordController</servlet-name>
        <url-pattern>/UpdatePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBookDetailController</servlet-name>
        <url-pattern>/ViewBookDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderHistory</servlet-name>
        <url-pattern>/ViewOrderHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailOrderHistory</servlet-name>
        <url-pattern>/ViewDetailOrderHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailOrderHistory</servlet-name>
        <url-pattern>/admin/ViewDetailOrderHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/CheckoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaypalCheckout</servlet-name>
        <url-pattern>/PaypalCheckout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewPaypalPayment</servlet-name>
        <url-pattern>/ReviewPaypalPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecutePaypalCheckout</servlet-name>
        <url-pattern>/ExecutePaypalCheckout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleLoginController</servlet-name>
        <url-pattern>/GoogleLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyPhoneNumberController</servlet-name>
        <url-pattern>/VerifyPhoneNumberController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCompletedOrderController</servlet-name>
        <url-pattern>/admin/ViewCompletedOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCancelledOrderController</servlet-name>
        <url-pattern>/admin/ViewCancelledOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReturnAndRefundController</servlet-name>
        <url-pattern>/admin/ViewReturnAndRefundController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCancelOrderPage</servlet-name>
        <url-pattern>/ViewCancelOrderPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderByUserController</servlet-name>
        <url-pattern>/CancelOrderByUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookController</servlet-name>
        <url-pattern>/UpdateBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookController</servlet-name>
        <url-pattern>/AddBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryBookController</servlet-name>
        <url-pattern>/InventoryBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenderStatisticController</servlet-name>
        <url-pattern>/admin/GenderStatisticController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageStaffController</servlet-name>
        <url-pattern>/admin/ManageStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrdersOfStaffController</servlet-name>
        <url-pattern>/admin/ViewOrdersOfStaffController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>DataSourceAhihi</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
